<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.danim.comm.CommMapper">

	<select id="getCommPicture" resultType="com.team2.danim.comm.Comm_picture">
	select * from comm_picture order by comm_picture_date desc
	</select>
	
	<insert id="upload" parameterType="com.team2.danim.comm.Comm_picture">
	insert into comm_picture values(comm_picture_seq.nextval,
	#{comm_picture_name},
	#{comm_picture_write_name},
	'김진현',
	#{comm_picture_txt},
	1,
	1,
	sysdate)
	</insert>
	
	<select id="getCommPicture2" resultType="com.team2.danim.comm.Comm_picture" parameterType="com.team2.danim.comm.Comm_picture">
	select * from comm_picture where comm_picture_no = #{comm_picture_no}
	</select>
	
	<delete id="delPicture" parameterType="com.team2.danim.comm.Comm_picture">
	delete from comm_picture where comm_picture_no = #{comm_picture_no}
	</delete>
	
	<update id="updatePicture" parameterType="com.team2.danim.comm.Comm_picture">
	update comm_picture set comm_picture_name = #{comm_picture_name},comm_picture_write_name = #{comm_picture_write_name},comm_picture_txt = #{comm_picture_txt} where comm_picture_no = #{comm_picture_no}
	</update>
	
	<select id="searchTitle" resultType="com.team2.danim.comm.Comm_picture" parameterType="com.team2.danim.comm.Comm_picture">
	SELECT * FROM comm_picture WHERE comm_picture_write_name LIKE '%'||#{comm_picture_write_name}||'%' order by comm_picture_date desc
	</select>

	<select id="searchWriter" resultType="com.team2.danim.comm.Comm_picture" parameterType="com.team2.danim.comm.Comm_picture">
	SELECT * FROM comm_picture WHERE comm_picture_writer LIKE '%'||#{comm_picture_writer}||'%' order by comm_picture_date desc
	</select>
	
	<select id="searchTxt" resultType="com.team2.danim.comm.Comm_picture" parameterType="com.team2.danim.comm.Comm_picture">
	SELECT * FROM comm_picture WHERE comm_picture_txt LIKE '%'||#{comm_picture_txt}||'%' order by comm_picture_date desc
	</select>
	
</mapper>