<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.danim.plan.PlanMapper">


<insert id="upload" parameterType="com.team2.danim.plan.Plan_write">
	insert into plan_write values(plan_write_seq.nextval,
	#{p_writer},
	#{p_title},
	#{p_TitleFile},
	#{p_startDate},
	#{p_person},
	#{p_place},
	#{p_budget},
	#{p_freeWrite},
	sysdate)
</insert>


<select id="getAllPlan" resultType="com.team2.danim.plan.Plan_write">
	select * from plan_write
</select>


</mapper>