<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.danim.review.ReviewMapper">


<select id="getAllReview" resultType="ReviewBean">
select * from REVIEW_BOARD

</select>

<select id="getTitleJSON" resultType="ReviewBean">

select * from REVIEW_BOARD
where rb_title like '%'||#{rb_title}||'%'

</select>

<select id="getfilterdByJSON" resultType="ReviewBean">

select * from REVIEW_BOARD 
where 
<if test="rb_headNum !=''">
rb_headNum = #{rb_headNum} and 
</if>
<if test="rb_budget !=''">
rb_budget &lt;= #{rb_budget} and 
</if>
rb_theme like '%'||#{rb_theme}||'%' and rb_location like '%'||#{rb_location}||'%'

</select>


</mapper>