@charset "UTF-8";
#paging_div{
	text-align: center;
}
#cf_txt{
	
	height: 400px;
}
#crown_img{
	width: 30px;
	height: 15px;
}
#reply_writer{
	
}
#paging_Tbl{
	border: 1px solid black;
	display: inline-block;
	margin-top: 30px;
}

#paging_Tbl a:link{
	color: black;
	text-decoration: none;

}
#paging_Tbl a:visited{
	color: black;
	text-decoration: none;
}
#paging_Tbl_td{
	margin-right: 10px;
}
#comm_picture_td{
border: 1px solid black;
}
#comm_picture_td_title{
border: 1px solid black;
font-weight: bold;
font-size: 17pt;
}
#comm_free_tbl{
	width: 1300px;
	border: 1px solid black;
	
}
#comm_free_tbl td{
	border: 1px solid black;
}

#comm_picture_tbl a{
text-decoration: none;
	
}
#comm_picture_tbl  a:visited {
color: black; text-decoration: none;
}

#comm_menu{
padding-left: 30px;
width: 10%; 
text-align: center;
}

#comm_picture_searchTbl{
border: solid 1px black;
}

#comm_picture_content{

}

#comm_picture_searchTbl{
margin-left: 80%;
}

#comm_picture_searchTbl2{
margin-left: 70%;
}

#comm_picture_searchBtn{
margin-left: 10px;
}


#comm_picture_content_title2{
padding-top: 100px;
}

#comm_picture_best_img{
width: 500px;
height: 300px;
border: solid 5px black;	
margin-top: 20px;
}

#comm_picture_best_writer{

text-align: center;
font-weight: bold;
border: solid 5px black;	


}
#comm_picture_writename{

text-align: center;
font-weight: bold;
border: solid 5px black;	


}

#comm_picture_bestTbl{
}

.comm_picture_bestTbl2{
float: left;
}


#comm_menu112{
border : 3px solid black;
height : 800px;
width : 200px;
left: 50px;
position: absolute;

}
#comm_picture_content112{
border : 1px solid black;
margin-top : 30px;
width: 1600px;
left: 280px;
position:absolute;
}
#comm_picture_content1122{
border : 1px solid black;
margin-top : 30px;
width: 1300px;
left: 350px;
position:absolute;
}
#comm_picture_area{
border: 4px solid black;
width: 1900px;	
height: 2000px;
}
#comm_picture_writeBtn{
margin-left: 90%;
margin-top: 30px;
width: 120px;
height: 30px;
font-size: 15pt;

}	
.comm_picture_write_txt{
	width: 300px;
	height: 200px;
	resize:none;
}
#comm_picture_detail_img{
width: 500px;
height: 300px;
border-radius: 3%;
}
#comm_picture_detail_tbl td{
border: 1px solid black;
}
#comm_picture_detail_tbl {
width: 1200px;
height: 600px;
margin-left: 100px;
text-align: center;
}

#comm_picture_detail_td{
width: 300px;
}
#comm_picture_detail_td2{
width: 100px;
}

#comm_picture_update_title{
	width: 1000px;
	text-align: center;
}

#comm_picture_update_txt{
	width: 500px;
	height: 300px;
	text-align: center;
	resize:none;
}

#comm_picture_detail_reply{
width: 1200px;
height: 100px;
border: 1px solid black;
margin-left: 100px;
margin-top: 5px;
}

#comm_picture_detail_reply td{
border: 1px solid black;
}

#comm_picture_detail_reply_title{
border: 1px solid black;
background-color: #FFFFCC;
width: 1200px;
height: 40px;
margin-top: 20px;
margin-left: 100px;
}	
#comm_picture_detail_replyInput{

	width: 500px;
	height: 50px;
	text-align: center;
}
.comm_heart_img{
	width: 50px; 
}
.comm_heart_btn{
	outline: 0;
	border: 0;
	background-color: inherit; 
}

#comm_empty_write{
	font-size: 15pt;
	text-align: center;
	
}