@charset "UTF-8";

.theme_select_btn{
	margin-right: 30px;
    color: #000000;    
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 150px;
    height: 40px;
	text-align: center;
	margin-bottom: 10px; 
		display: flex;
	align-items: center;
	justify-content: center;
}

.location_select_btn{
	margin-right: 30px;
	 border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
 width: 100px;
	height: 40px;
	margin-bottom: 10px; 
	text-align: center;
		display: flex;
	align-items: center;
	justify-content: center;
}

.budget_select_btn{
	margin-right: 30px;
	border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
	width: 100px;
	text-align: center;
	margin-bottom: 10px; 
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.location_selected_btn{
	text-align: center;
}
#headcount{
}
#direct_input{
	margin-left: 20px;		
	display: flex;
	align-items: center;
	}
#headcount_value1{
	width: 50px;
	text-align: center;
	margin-left: 5px;
	border:none;
	border-bottom: 1px solid black;
	
}
#headcount_value1:focus{
	border:none;
	border-bottom: 1px solid black;
	outline: none;
}
#headcount{
border: none;
	}
#head_count_div{
	display: flex;
	align-items: center;
}
#headcount_select_btn{
	background: none;
	border: none;
}
#check_img{
	width: 20px;
	height: 20px;
}
#review_close_icon{
	width: 30px;
}
#selectCancel{
	background-color: white;
	color: black;
	border-radius: 20px;
	width: 80px;
	text-align: center;
	border: 2px solid gray;;
	padding-top: 4px;
    padding-bottom: 3px;
}
.deleteBtn{
	padding-left:2px;
	width: 15px;
	height: 15px;
}
.selected_headcount{
	margin-right:15px;
	display: flex;
	align-items: center;
	border: 2px solid transparent;
    border-radius: 20px;
	border: 2px solid gray;    
    padding-left: 7px;
    padding-right: 5px;
        padding-top: 4px;
    padding-bottom: 3px;
}
.budget_selected_btn{
	display: flex;
	align-items: center;
	border: 2px solid gray;
	margin-right: 15px;
	 border-radius: 20px;
	     padding-left: 7px;
    padding-right: 5px;
        padding-top: 4px;
    padding-bottom: 3px;
}
.location_selected_btn{
	display: flex;
	align-items: center;
	border: 2px solid gray;
	margin-right: 15px;
 border-radius: 20px;
     padding-top: 4px;
    padding-bottom: 3px;
     padding-left: 7px;
    padding-right: 5px;
}
.theme_selected_btn{
	display: flex;
	align-items: center;
	border: 2px solid gray;
	margin-right: 15px;
	 border-radius: 20px;
	     padding-left: 7px;
    padding-right: 5px;
        padding-top: 4px;
    padding-bottom: 3px;
}
#revuew_write{
	margin-right: 30px;
}
#revuew_write a:visited{
	text-decoration: none;
	color: black;
}
#choosedVal{
	margin-left: 15px;
}
.budget_selected_btn{
	text-align: center;
}
#review_icon{
	width: 20px;
	height: 20px;
}

#icon_div{
	align-items: center;
	display: flex;
	margin-bottom: 5px;
}
#budget_span{
margin-top: 30px;
display: inline;
text-align: center;
}

/* -------------------------------------------- */


#r_write_Title{
text-align: center; 
margin-top: 10px;
margin-bottom: 30px;
}

#r_reviewTitle{
	text-align: center;
	margin-bottom: 30px;
	font-size: 12pt;
}

#r_reviewTitle input{
	width: 250px;
	height: 30px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #404040;
	font-size: 15pt;
}

#r_reviewTitle input::placeholder{
	text-align: center;	
	font-size: 12pt;
}

#r_reviewTitle input:focus{
	outline: none;
}

.flex-container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

#inputContainer{
	display: none;
	margin-right: 15px;
	font-size: 10pt;
}

#selectBox{
	text-align: center;
	margin-right: 20px;
	border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#selectBox:focus{
	outline: none;
}

#selectBoxDirect{
	width: 50px;
	height: 20px;
	text-align: center;
	border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#selectBoxDirect:focus{
	outline: none;
}

#selectBoxDirect::-webkit-outer-spin-button,
#selectBoxDirect::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#selectBox2{
	width: 105px;
	text-align: center;
    margin-right: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#selectBox2:focus{
	outline: none;
}

#selectBox3{
	width: 100px;
	text-align: center;
    margin-right: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#selectBox3:focus{
	outline: none;
}

#selectBox4{
	width: 70px;
	text-align: center;
    margin-right: 20px;
	height:20px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #38CEB5, #6D1E91);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#selectBox4:focus{
	outline: none;
}

/* 여기부터 지도 */
#map{
	width: 90%;
	height: 500px;
	text-align: center;
	margin: auto;
	border: 1px solid #404040;
}

#pac-input{
	width: 40%;
	height: 30px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #404040;
	margin-top: 3px;
}

#pac-input::placeholder{
	text-align: center;
}

#remove-line{
	height: 30px;
	border-radius:5px;
	border: 1px solid #404040;
	background-color: white;
	margin-top: 3px;
}

.custom-map-control-button{
	height: 30px;
	border-radius:5px;
	border: 1px solid #404040;
	background-color: white;
	margin-top: 3px;
}

/* 여기부터 모든 일정 */
#allSchedule_wrapper{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

#schedule_inner_nav{
	display: flex;
}

#schedule{
	width: 90%;
	text-align: center;
}










